/*** ESTILO GENERAL ***/

body{
    background-color: rgba(127, 255, 212, 0.233);
    margin: 0;
}

.logo-pag {
    height: 90px;
    width: 90px;
}

header {
    position: sticky;
    top: 0;
}

header .contenedor-logo-titulo-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header .contenedor-logo-titulo-btn h1{
    font-style: oblique;
}

header, #boton-menu {
    background-color: #447179;
}

#boton-menu {
    width: 50px;
    height: 30px;
    border-style: none;
}

#boton-menu > img {
    width: 120%;
    height: 115%;
}

.menu {
    display: none;
}

.menu.abrir {
    display: flex;
    background-color: rgb(36, 34, 34);
}

.menu.abrir li {
    list-style: none;
}

.menu.abrir > ul a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: #425c5a;
    display: flex;
    flex-direction: column;
}

footer > h4 {
    margin-top: 0;
    margin-bottom: 3px;
}

footer > h4 ~ h4 {
    margin-top: 15px;
    margin-bottom: 5px;
}


footer .redes-sociales {
    display: flex;
    column-gap: 5px;
}

footer .redes-sociales img {
    width: 30px;
}

/*** FIN ESTILO GENERAL ***/



/*** ESTILO INDEX.HTML ***/

.foto-d1eg0 {
    width: 100%;
}

.contenedor-home, .contenedor-camiseta {
    display: flex;
    flex-direction: column;
}

.contenedor-home > h1, .contenedor-camiseta > h2 {
    text-align: center;
}

.contenedor-home { 
    align-items: center;
    row-gap: 10px;
}

.contenedor-camiseta {
    flex-wrap: wrap;
    width: 50%;
    border: 2px solid #000000;
    background: whitesmoke;
}

.contenedor-camiseta img {
    width: 100%;
    height: 100%;
}

.contenedor-camiseta .talles {
    font-weight: bold;
}

.contenedor-fin-pagina {
    display: flex;
    align-items: center;
    justify-content: start;
}

#link-contacto-pie-de-pag {
    color: black;
    font-style: italic;
}

/*** FIN ESTILO INDEX.HTML ***/



/*** ESTILO PROMOCIONES.HTML ***/

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: solid 1px;
    text-align: center;
    width: 15%;
}

tr {
    border: solid 1.5px;
}

.columna-foto {
    width: 70px;
    border: none;
}

.columna-foto > img {
    width: 155px;
    height: 155px;
}

#precio-viejo {
    text-decoration: line-through;
    line-height: 1.7em
}

/*** FIN ESTILO PROMOCIONES.HTML ***/



/*** ESTILO CONTACTO.HTML ***/



.contenedor-contacto {
    display: flex;
    flex-direction: column;
    align-items: start;
}


.contenedor-contacto form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




@media(width >= 768px) {


/*** ESTILO GENERAL ***/

    .menu.abrir > ul li{
        font-size: larger;
    }

    footer {
        align-items: center;
    }
    
    footer > h4{
        margin-top: 5px;
    }

    footer > h4 ~ h4 {
        margin-top: 15px;
        margin-bottom: 5px;
    }



/*** ESTILO INDEX.HTML ***/

    .contenedor-home {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .contenedor-camiseta{
        width: 20%;
    }




/*** ESTILO PROMOCIONES.HTML ***/

    table{
        width: 90%;
        margin: auto;
        margin-bottom: 5px;
    }

    tr {
        font-size: larger;
    }

    td {
        width: 5%;
    }

    .seccion-promociones h2{
        font-size: xx-large;
    }

    .columna-foto {
        width: 20%;
    }

    .columna-foto > img {
        width: 50%;
        height: 50%;
    }




/*** ESTILO CONTACTO.HTML ***/

    .caja-contacto img {
        width: 8%;
        height: 8%;
    }
    
    .opciones-lista{
        list-style-position: inside;
        list-style-type: square;
        font-weight: bold;
    }
    
    .lista-contacto{
        font-size: 20px;
    }
    
    .contenedor-contacto{
        background-size: cover;
        background-position: center;
    }
    
    .caja-contacto{
        width: 48%;
        left: 25%;
    }

    .contenedor-contacto, .caja-contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    form{
        font-size: 20px;
        font-weight: bold;
        justify-content: center;
    }
    
    textarea, input{
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        flex-wrap: wrap;
        margin: 5px;
        border-radius: 5%;
    }
    
    h2{
        text-align: center;
    }
    
    #lilogo{
        list-style-type: none;
        text-align: center;
    }



}
    
    /*.nombre-de-camisetas{
        font-family:'Josefin Sans', sans-serif;

    }

    header{
        display: flex;
        position: sticky; 
        top: 0; 
        flex-wrap: wrap;
        justify-content: space-around;
        background-color:#ffffff;
        z-index: 3;
    }

    .navegador{
        display: none;
        flex-direction: column;
        background-color:#000000;
        border-bottom: 5px solid rgb(2, 2, 2);
        padding-left: 0;
        flex-wrap: wrap;
    }

    .navegador.mostrar{
        display: flex;
    }
    
    .item {
        list-style: none;
        margin: 0px 30px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        padding: 15px;
    }
    
    .item:hover {
        background: rgb(255, 255, 255);
    }
    .contenedor-home{
        background-image: url(../images/logo_nike.jpg);
        background-size: cover;
        background-position: center;
    }
    .oferta{ 
        flex-wrap: wrap;
        width: 48%;
        display: inline-block;
        justify-content: center;
        background-color: rgba(255, 255, 255, 255);
        position: relative;
        left: 25%;
        
    }
    .titulo-de-primernivel{ 
        border-bottom: 5px solid rgb(255, 255, 255);
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        color: black;

    }
    .descripcion{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        text-align: center;
        color: rgb(0, 0, 0);
        
        
    }
    .caja-promocion-o-contacto{
        background-color:rgb(247, 245, 245);
        width: 48%;
        position: relative;
        left: 25%;
    }
    .theadpromocion{

        color: rgb(0, 0, 0);
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    .tbodypromocion{
        color: rgb(8, 8, 8);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    .tabla table{
        width: 75%;
        border-collapse: collapse;
        border: 2px solid #1d1d1d;
    }
    .tabla thead{
        background-color: #cfffa211 ;
        font-size: 100%;
    }
    .tabla table thead tr th{
        padding: 10px;
        align-items: center;
    }
    .tabla table tbody tr td{
        padding: 10px;
        text-align: center;
    }
    tr,th,td{
        border: #1d1d1d 2px solid;
    }
    .tabla form input{
        width: auto;
    }
    .tabla form button{
        background-color: transparent;
        padding: 5px;
        font-size: 20px;
        color:#000000 ;
        border: 2px solid #000000;
        border-radius: 15px ;
        display: block;
        margin: 10px;
    }
    .tabla form button:hover{
    background-color: #080808;
    color: #425c5a;
    border:2px solid #425c5a;
    }
    .avisos{

        width: 48%;
        text-align: center;
        position: relative;
        left: 25%;

    }


    .logo{
        width: 50px;
        height: 50px;
    }
    footer{
        text-align: center;
        position: sticky;
        bottom: 0;
        background-color:#ffffff;
        opacity: 80%;
        height: 5%;
    }

    .titulo{
        flex-wrap: wrap;
        text-align: center;
        color: rgb(0, 0, 0);
    }

    #resaltado{
        background-color: rgba(0, 0, 0, 0.6);
    }

    a{
        text-decoration:none;
    }

    .contenedor-contacto{
        background-image: url(../images/logo_nike.jpg);
        background-size: cover;
        background-position: center;
    }

    .lista-de-opciones-de-contacto{
        font-size: 20px;
    }

    .opciones-lista{
        list-style-position: inside;
        list-style-type: square;
        font-weight: bold;
    }

    form{
        font-size: 20px;
        font-weight: bold;
        justify-content: center;
        
    }
    textarea,input{
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        flex-wrap: wrap;
        margin: 5px;
        border-radius: 5%;

    }
    select{
        display: flex;
        font-size: 15px;
        flex-wrap: wrap;
    }
    #lilogo{
        list-style-type: none;
        text-align: center;
    }
    input:hover{
        background: rgb(255, 255, 255);
    }
    article{
        background-color:#ffffff;
    }
    section{
        justify-content: space-between;
        text-align: center;
    }
    .imagen-carta{
        text-align: center;
        width: 40%;
        height: 40%;
    }
    .titulo-de-segundonivel{
        font-family:Verdana, Geneva, Tahoma, sans-serifs;
        text-align: center;
        color: rgb(0, 0, 0);
        
    }


    .boton-menu{
        display: none;
    }

    .navegador{
        flex-direction: row;
        display: flex;
    }*/



