


body{
    background-color: white;
    margin: 0;
}

.logo-pag {
    height: 90px;
    width: 90px;
}



.foto-d1eg0{
    width: 100%;
}

header {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "logo titulo btn-menu"
    "lista-menu lista-menu lista-menu";
    justify-items: center;
    align-items: center;
    
}

.boton-menu {
    grid-area: btn-menu;
    width: 50px;
    height: 30px;
}

.menu{
    display: none;
}

.menu.abrir{
    grid-area: lista-menu;
    display: inline-block;
}

.menu.abrir li {
    display: inline-flex;
}


.menu.ul.a{
    text-decoration: none;
}

.contenedor-home > h1 { 
    color: black;
    text-align: center;
}

footer > h3 {
    color: black
}

footer a img{
    height: 10%;
    width: 10%;
}

footer {
    background-color: grey;
}




.contenedor-camiseta{
    width:60%;
    height:15%;
    margin-right: 20%;
    margin-left: 20%;
    border:3px solid #000000;
    background: #ffffff;
    margin-top: 1%;
}

.contenedor-camiseta > img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.contenedor-fin-pagina {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "logo horarios" 
    "contacto contacto";
}

.contenedor-fin-pagina > p {
    grid-area:  contacto;
}

.contenedor-fin-pagina > h2 { 
    grid-area: horarios;
    align-content: center;
}







@media (width >= 768) {
    
    .nombre-de-camisetas{
        font-family:'Josefin Sans', sans-serif;

    }

    header{
        display: flex;
        position: sticky; 
        top: 0; 
        flex-wrap: wrap;
        justify-content: space-around;
        background-color:#ffffff;
        z-index: 3;
    }

    .navegador{
        display: none;
        flex-direction: column;
        background-color:#000000;
        border-bottom: 5px solid rgb(2, 2, 2);
        padding-left: 0;
        flex-wrap: wrap;
    }

    .navegador.mostrar{
        display: flex;
    }
    
    .item {
        list-style: none;
        margin: 0px 30px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        padding: 15px;
    }
    
    .item:hover {
        background: rgb(255, 255, 255);
    }
    .contenedor-home{
        background-image: url(../images/logo_nike.jpg);
        background-size: cover;
        background-position: center;
    }
    .oferta{ 
        flex-wrap: wrap;
        width: 48%;
        display: inline-block;
        justify-content: center;
        background-color: rgba(255, 255, 255, 255);
        position: relative;
        left: 25%;
        
    }
    .titulo-de-primernivel{ 
        border-bottom: 5px solid rgb(255, 255, 255);
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        color: black;

    }
    .descripcion{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        text-align: center;
        color: rgb(0, 0, 0);
        
        
    }
    .caja-promocion-o-contacto{
        background-color:rgb(247, 245, 245);
        width: 48%;
        position: relative;
        left: 25%;
    }
    .theadpromocion{

        color: rgb(0, 0, 0);
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    .tbodypromocion{
        color: rgb(8, 8, 8);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    .tabla table{
        width: 75%;
        border-collapse: collapse;
        border: 2px solid #1d1d1d;
    }
    .tabla thead{
        background-color: #cfffa211 ;
        font-size: 100%;
    }
    .tabla table thead tr th{
        padding: 10px;
        align-items: center;
    }
    .tabla table tbody tr td{
        padding: 10px;
        text-align: center;
    }
    tr,th,td{
        border: #1d1d1d 2px solid;
    }
    .tabla form input{
        width: auto;
    }
    .tabla form button{
        background-color: transparent;
        padding: 5px;
        font-size: 20px;
        color:#000000 ;
        border: 2px solid #000000;
        border-radius: 15px ;
        display: block;
        margin: 10px;
    }
    .tabla form button:hover{
    background-color: #080808;
    color: #425c5a;
    border:2px solid #425c5a;
    }
    .avisos{

        width: 48%;
        text-align: center;
        position: relative;
        left: 25%;

    }


    .logo{
        width: 50px;
        height: 50px;
    }
    footer{
        text-align: center;
        position: sticky;
        bottom: 0;
        background-color:#ffffff;
        opacity: 80%;
        height: 5%;
    }

    .titulo{
        flex-wrap: wrap;
        text-align: center;
        color: rgb(0, 0, 0);
    }

    #resaltado{
        background-color: rgba(0, 0, 0, 0.6);
    }

    a{
        text-decoration:none;
    }

    .contenedor-contacto{
        background-image: url(../images/logo_nike.jpg);
        background-size: cover;
        background-position: center;
    }

    .lista-de-opciones-de-contacto{
        font-size: 20px;
    }

    .opciones-lista{
        list-style-position: inside;
        list-style-type: square;
        font-weight: bold;
    }

    form{
        font-size: 20px;
        font-weight: bold;
        justify-content: center;
        
    }
    textarea,input{
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        flex-wrap: wrap;
        margin: 5px;
        border-radius: 5%;

    }
    select{
        display: flex;
        font-size: 15px;
        flex-wrap: wrap;
    }
    #lilogo{
        list-style-type: none;
        text-align: center;
    }
    input:hover{
        background: rgb(255, 255, 255);
    }
    article{
        background-color:#ffffff;
    }
    section{
        justify-content: space-between;
        text-align: center;
    }
    .imagen-carta{
        text-align: center;
        width: 40%;
        height: 40%;
    }
    .titulo-de-segundonivel{
        font-family:Verdana, Geneva, Tahoma, sans-serifs;
        text-align: center;
        color: rgb(0, 0, 0);
        
    }


}


/*@media only screen and (min-width:660px){
    .boton-menu{
        display: none;
    }

    .navegador{
        flex-direction: row;
        display: flex;
    }

}*/


