/*** ESTILO GENERAL ***/

body {
    background-color: rgba(127, 255, 212, 0.233);
    margin: 0;
}

.logo-pag {
    height: 90px;
    width: 90px;
}

header {
    position: sticky;
    top: 0;
}

header .contenedor-logo-titulo-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

header .contenedor-logo-titulo-btn h1 {
    font-style: oblique;
}

header, #boton-menu, #btn-modo-oscuro {
    background-color: #447179;
}

#boton-menu {
    width: 50px;
    height: 30px;
    border-style: none;
    background-image: url(../images/iconos/icono-menu.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#btn-modo-oscuro {
    margin-left: 50%; /* centramos el boton con los margenes para no usar un div o un span */
    border-style: none
}

#btn-modo-oscuro img{
    width: 25px;
}

.menu {
    display: none;
}

.menu.abrir {
    display: flex;
    background-color: rgb(36, 34, 34);
}

.menu.abrir li {
    list-style: none;
}

.menu.abrir > ul a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: #425c5a;
    display: flex;
    flex-direction: column;
}

footer > h4 {
    margin-top: 0;
    margin-bottom: 3px;
}

footer > h4 ~ h4 {
    margin-top: 15px;
    margin-bottom: 5px;
}


footer .redes-sociales {
    display: flex;
    column-gap: 5px;
}

footer .redes-sociales img {
    width: 30px;
}

/*** FIN ESTILO GENERAL ***/





/*** ESTILO INDEX.HTML ***/

.foto-d1eg0 {
    width: 100%;
}

.contenedor-home, .contenedor-camiseta {
    display: flex;
    flex-direction: column;
}

.contenedor-home > h1, .contenedor-camiseta > h2 {
    text-align: center;
}

.contenedor-home { 
    align-items: center;
    row-gap: 10px;
}

.contenedor-camiseta {
    flex-wrap: wrap;
    width: 50%;
    border: 2px solid #000000;
    background: whitesmoke;
}

.contenedor-camiseta img {
    width: 100%;
    height: 100%;
}

.contenedor-camiseta .talles {
    font-weight: bold;
}

.contenedor-fin-pagina {
    display: flex;
    align-items: center;
    justify-content: start;
}

#link-contacto-pie-de-pag {
    color: black;
    font-style: italic;
}

/*** FIN ESTILO INDEX.HTML ***/





/*** ESTILO PROMOCIONES.HTML ***/

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: solid 1px;
    text-align: center;
    width: 15%;
}

tr {
    border: solid 1.5px;
}

.columna-foto {
    width: 70px;
    border: none;
}

.columna-foto > img {
    width: 155px;
    height: 155px;
}

#precio-viejo {
    text-decoration: line-through;
    line-height: 1.7em
}

#lista-metodos-pago {
    font-weight: bold;
}

#lista-metodos-pago li {
    font-weight: normal;
    font-style: italic;
}

/*** FIN ESTILO PROMOCIONES.HTML ***/





/*** ESTILO CONTACTO.HTML ***/

.contenedor-contacto {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.contenedor-contacto form {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.contenedor-contacto main a img {
    width: 15%;
}

#captcha {
    border: solid 1px;
    text-align: center;
}

/*** FIN ESTILO CONTACTO.HTML ***/





/*** MODO OSCURO ***/

body.oscuro, body.oscuro .contenedor-camiseta {
    background-color: rgba(34, 31, 31, 0.973);
}

body.oscuro h2, body.oscuro p, body.oscuro #link-contacto-pie-de-pag, body.oscuro tbody, body.oscuro thead, body.oscuro .contenedor-contacto, body.oscuro #lista-metodos-pago {
    color:rgb(236, 226, 226);
}

body.oscuro .contenedor-camiseta {
    border-color: white;
}

body.oscuro header, body.oscuro footer, body.oscuro #boton-menu, body.oscuro #btn-modo-oscuro {
    background-color: #163136
}

/*** FIN MODO OSCURO ***/





@media(width >= 768px) {

/*** ESTILO GENERAL DESKTOP ***/

    header .contenedor-logo-titulo-btn {
        justify-content: center;
        
    }   

    #boton-menu {
        display: none;
    }

    .menu {
        display: flex;
        background-color: rgb(36, 34, 34);
    }

    .menu li {
        list-style: none;
    }

    .menu > ul a {
        text-decoration: none;
        color: white;
    }
    
    .menu > ul li {
        font-size: larger;
    }

    footer {
        align-items: center;
    }
    
    footer > h4 {
        margin-top: 5px;
    }

    footer > h4 ~ h4 {
        margin-top: 15px;
        margin-bottom: 5px;
    }

/*** FIN ESTILO GENERAL DESKTOP ***/




/*** ESTILO INDEX.HTML DESKTOP ***/

    .contenedor-home {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .contenedor-camiseta {
        width: 20%;
    }

/*** FIN ESTILO INDEX.HTML DESKTOP ***/




/*** ESTILO PROMOCIONES.HTML ***/

    table {
        width: 90%;
        margin: auto;
        margin-bottom: 5px;
    }

    tr {
        font-size: larger;
    }

    td {
        width: 5%;
    }

    .seccion-promociones h2 {
        font-size: xx-large;
    }

    .columna-foto {
        width: 20%;
    }

    .columna-foto > img {
        width: 50%;
        height: 50%;
    }

/*** FIN ESTILO PROMOCIONES.HTML DESKTOP ***/





/*** ESTILO CONTACTO.HTML ***/

    .caja-contacto img {
        width: 8%;
        height: 8%;
    }
    
    .opciones-lista {
        list-style-position: inside;
        list-style-type: square;
        font-weight: bold;
    }
    
    .lista-contacto {
        font-size: 20px;
    }
    
    .contenedor-contacto {
        background-size: cover;
        background-position: center;
    }
    
    .caja-contacto {
        width: 48%;
        left: 25%;
    }

    .contenedor-contacto, .caja-contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    form {
        font-size: 20px;
        font-weight: bold;
        justify-content: center;
    }
    
    textarea, input {
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        flex-wrap: wrap;
        margin: 5px;
        border-radius: 5%;
    }
    
    h2 {
        text-align: center;
    }
    
    #lilogo {
        list-style-type: none;
        text-align: center;
    }

    .contenedor-contacto main a img {
        width: 8%;
    }

/*** FIN ESTILO CONTACTO.HTML DESKTOP ***/ 

}